@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html {
  scroll-behavior: smooth;
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Gradient Background */

